* {
  box-sizing: border-box;
}

body {

}

.cards {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 5%;
}

.card {
  background-color: red;
  width: 20%;
  height: 60;
  bor
}
